
.container {
    display: grid;
    grid-template-columns: 10% auto 10%;
}

.center-form {
    margin: 10px 10%;
    width: 90%;
}

.button-position {
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.createfamily-input{
    width: 90%;
}

.form-label{
    font-weight: bold;
}


